<!-- Loading Spinner -->
<div *ngIf="homeLoading" class="center-page">
  <div id="loading-spinner">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
</div>

<!-- Main Page -->
<div *ngIf="!homeLoading">
  
  <!-- Chart -->
  <div class="row">
    <div class="col-md-12" style="max-height:100%; overflow:auto">
      <div style="display:block">
        <canvas baseChart height="500"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>
  </div>

</div>
